body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f7f7f7; /* Light grey background */
    color: #333; /* Dark grey text */
}

.profile-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.profile-header {
    text-align: center;
    flex-basis: 30%;
    padding: 1rem;
    border-right: 1px solid #ececec;
}

.profile-content {
    flex-basis: 70%;
    padding: 1rem;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #eee; /* Light grey border */
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
    color: #007bff; /* Bootstrap primary color */
}

h2 {
    font-size: 2rem;
    margin-top: 1.5rem;
    color: #333; /* Dark grey text */
}

p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 0.5rem;
}

.send-email {
    display: inline-block;
    background: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.send-email:hover {
    background: #0056b3; /* A darker shade of primary color */
}

.heart-reaction {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

#heartButton {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #e0245e; /* Twitter heart color */
}

#heartCount {
    margin-left: 10px;
    font-size: 1.5rem;
}


#backButton {
    display: inline-block;
    padding: 10px 15px;
    background-color: #01acf5;
    color: #ffffff;
    text-decoration: none; /* Removes underline from links */
    font-family: Arial, sans-serif;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#backButton:hover {
    background-color: #000000;
}